* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pane-opened-libraries {
  display: none;
}

@media screen and (min-width: 950px) {
  .not-logged-in .topbar-link-opening-hours .icon-clock {
    font-size: 55px;
    margin-top: -10px;
    padding-left: 10px;
    color: #4d898e;
    float: right;
  }
  .not-logged-in .topbar-link-opening-hours .icon-clock:before {
    content: "\e90e";
    font-family: 'icomoon';
  }
  .not-logged-in .topbar-link-opening-hours #block-ding-header-opening-hours-ding-header-opened-today .ohs-wrapper {
    min-height: 48px;
  }
  .not-logged-in .topbar-link-opening-hours #block-ding-header-opening-hours-ding-header-opened-today .ohs-wrapper div.oh-wrapper:first-child:nth-last-child(1) {
    line-height: 40px;
  }
}
@media screen and (min-width: 950px) and (max-width: 950px) {
  .not-logged-in .pane-opened-libraries {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 40.37267%;
    top: 74px;
    z-index: 10;
    margin-left: 105px;
  }
  .not-logged-in .pane-opened-libraries:last-child {
    margin-right: 0;
  }
  .not-logged-in .pane-content #block-ding-header-opening-hours-ding-header-opened-today-all .ohs-wrapper .oh-row .float-left {
    width: 11em;
  }
}
@media screen and (min-width: 950px) and (max-width: 1100px) {
  .not-logged-in .pane-opened-libraries {
    float: left;
    display: block;
    margin-right: 3.78378%;
    width: 35.13514%;
    margin-left: -85px;
  }
  .not-logged-in .pane-opened-libraries:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 950px) {
  .not-logged-in .pane-opened-libraries {
    padding-left: 15px;
    float: left;
    margin-right: 5.10949%;
    width: 29.92701%;
    position: absolute;
    right: 180px;
  }
  .not-logged-in .pane-opened-libraries.opened-processed {
    display: block;
  }
  .not-logged-in .pane-opened-libraries .pane-title {
    display: none;
  }
  .not-logged-in .pane-opened-libraries .pane-content {
    clear: both;
    max-height: 56px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .oh-wrapper {
    line-height: 20px;
    color: #808285;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .oh-row-wrapper {
    color: #a4a4a4;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .oh-row-wrapper:nth-of-type(2n+2) {
    background: #f1f2f2;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .oh-row-wrapper .oh-row {
    line-height: 10px;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .oh-row-wrapper .oh-row .float-right {
    padding: 10px 10px 10px 0;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .oh-row-wrapper .oh-row .float-left {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 10px 18px;
    vertical-align: middle;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .float-left,
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .float-right {
    display: inline;
  }
  .not-logged-in .pane-opened-libraries .pane-content .ohs-wrapper .float-right {
    float: right;
  }
  .not-logged-in .pane-opened-libraries .pane-content #block-ding-header-opening-hours-ding-header-opened-today-all {
    position: relative;
    left: 0;
    z-index: 100;
    width: calc(100% + 20px);
    background-color: #f1f2f2;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 -10px;
    padding-top: 10px;
    box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.75);
  }
  .not-logged-in .pane-opened-libraries .pane-content #block-ding-header-opening-hours-ding-header-opened-today-all h2 {
    padding-left: 10px;
    color: #676868;
    margin-bottom: 0;
    font-size: 17px;
  }
  .not-logged-in .pane-opened-libraries .pane-content #block-ding-header-opening-hours-ding-header-opened-today-all h2 .opened-processed {
    margin: 15px 0 0 0;
    font-size: 24px;
  }
  .not-logged-in .pane-opened-libraries .pane-content #block-ding-header-opening-hours-ding-header-opened-today-all h2 .opened-processed:hover {
    cursor: pointer;
  }
  .not-logged-in a.topbar-link-opening-hours {
    display: none;
  }
}
