@import "zen-grids";
@import "_mixins";
@import "../../../themes/ddbasic/sass/_base.scss";

/* Colors variables
   ========================================================================== */

$white:                   #fff;
$dark-gray:               #ccc;
$darker-gray:             #333;
$light-gray:              #dadada;
$lighter-gray:            #e5e5e5;
$gray:                    #ccc;
$black:                   #000;
$gray-transparent-bg:     rgba( 0, 0, 0, 0.7);
$zen-columns:             12;
$color-primary: #4d898e;

$tablet: "(max-width: 1024px)";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bueezz');
  src:  url('../fonts/icomoon.eot?bueezz#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bueezz') format('truetype'),
  url('../fonts/icomoon.woff?bueezz') format('woff'),
  url('../fonts/icomoon.svg?bueezz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock {
  font-size: 24px;
  color: $color-primary;
  float: right;
}
.icon-clock:before {
  content: "\e920";
}


.site-header .topbar .topbar-inner {
  overflow: visible;
  min-height: 89px;
}

.not-logged-in {
   .pane-opened-libraries {
    @include zen-grid-item(3.5, 7);
    @include small-medium() {
      display: none;
     }
  }
}

.logged-in {
  .pane-opened-libraries {
    @include zen-grid-item(3.2, 3);

    @include small-medium() {
      display: none;
    }

    @media #{$tablet} {
      @include zen-grid-item(3.8, 4.6);

      .pane-content #block-ding-header-opening-hours-ding-header-opened-today-all {
        .ohs-wrapper .oh-row .left {
          width: 12em;
        }
      }
    }
  }

  @media #{$tablet} {
   .topbar-inner .panel-pane.pane-current-user-name {
      display: none;
    }
  }
}

.pane-opened-libraries {
  position: relative;
  color: $white;
  padding-left: 15px;

  .ohs-wrapper {
    .oh-wrapper {
      line-height: 20px;
      color: $darker-gray;
    }
  }

  .pane-title {
    display: none;
  }

  .pane-content {
    clear: both;
    max-height: 56px;
    background-color: $white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;

    #block-ding-header-opening-hours-ding-header-opened-today-all {
      position: relative;
      left: -3%;
      z-index: 100;
      width: 106%;
      background-color: $lighter-gray;
      border-radius: 5px;
      overflow: hidden;

      h2 {
        padding-left: 10px;
        color: $darker-gray;
        margin-bottom: 0;
        font-size: 17px;
      }

      .content {
        color: $darker-gray;
      }

      .ohs-wrapper {
        .oh-row-wrapper {
          background: $white;
          padding: 5px 0;

          .oh-row {
            line-height: 10px;
          }
        }

        .oh-row-wrapper:nth-of-type(2n+2){
          background: $lighter-gray;
        }

        .oh-row .right {
          float: right;
          padding: 5px 10px 5px 0;
        }

        .oh-row .left {
          white-space: nowrap;
          width: 13em;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          padding: 5px 0 5px 10px;
        }
      }
    }
  }

  span.oh-plus {
    &:hover {
      cursor: pointer;
    }

    &:after {
      font-family: "FontAwesome";
      content: "\f055";
      padding-left: 10px;
      margin-top: 19px;
      position: absolute;
      display: inline;
      color: white;
      font-size: 24px;
    }
  }

  .left,
  .right {
    display: inline;
    padding-right: 10px;
  }

  .oh-wrapper .right {
    float: right;
  }

  h2.opened-processed {
    margin: 15px 0 0 0;
    font-size: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}
